<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  test
  <div id="content">
      <%- result %>
  </div>
  <script>
    var url = '<%= mainUrl %>'
    // 替换全局的图片地址

  </script>
</body>
</html>