body,#root{
  display: flex;
  width: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  .logo{
    width: 200px;
    color: #fff;
    text-align: center;
  }
  .header-menu{
    margin-left: 0;
    margin-right: auto;
  }
  .header-avatarbox{
    cursor: pointer;
    margin-right: 20px;
    color: #ccc;
    .ant-avatar.ant-avatar-icon{
      margin-right: 10px;
    }
  }


}
.content-footer{
  margin: 10px;
  text-align: center;
}
.content-wrap{
  padding-top: 20px;
}
